<ion-tabs>


  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="account">
      <ion-item name="person">
        <ion-label>Account</ion-label>
      </ion-item>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-item name="call">
        <ion-label>Contact</ion-label>
      </ion-item>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-item name="settings">
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>